core/src/main/java/uk/ac/nhm/nhm_www/core/impl/workflows/science/nhm-profile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.symplectic.co.uk/publications/api" xmlns:ns1="http://www.symplectic.co.uk/publications/api">
  <xs:import schemaLocation="local.xsd"/>
  <xs:complexType name="ns1.object">
    <xs:sequence>
      <xs:element ref="ns1:object"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="object">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:ever-approved"/>
        <xs:element minOccurs="0" ref="ns1:reporting-date-1"/>
        <xs:choice minOccurs="0">
          <xs:element ref="ns1:reporting-date-2"/>
          <xs:sequence>
            <xs:element ref="ns1:is-current-staff"/>
            <xs:element ref="ns1:photo"/>
            <xs:element ref="ns1:is-academic"/>
            <xs:element ref="ns1:title"/>
            <xs:element ref="ns1:initials"/>
            <xs:element ref="ns1:last-name"/>
            <xs:element ref="ns1:first-name"/>
            <xs:element ref="ns1:email-address"/>
            <xs:element ref="ns1:known-as"/>
            <xs:element ref="ns1:primary-group-descriptor"/>
            <xs:element ref="ns1:arrive-date"/>
            <xs:element ref="ns1:position"/>
            <xs:element ref="ns1:department"/>
            <xs:element maxOccurs="unbounded" ref="ns1:organisation-defined-data"/>
          </xs:sequence>
        </xs:choice>
        <xs:element ref="ns1:records"/>
        <xs:element ref="ns1:fields"/>
        <xs:element minOccurs="0" ref="ns1:journal"/>
        <xs:element ref="ns1:relationships"/>
      </xs:sequence>
      <xs:attribute name="authenticating-authority" type="xs:NCName"/>
      <xs:attribute name="category" use="required" type="xs:NCName"/>
      <xs:attribute name="created-when" use="required" type="xs:dateTime"/>
      <xs:attribute name="href" use="required" type="xs:anyURI"/>
      <xs:attribute name="id" use="required" type="xs:integer"/>
      <xs:attribute name="last-modified-when" use="required" type="xs:dateTime"/>
      <xs:attribute name="proprietary-id" type="xs:NCName"/>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
      <xs:attribute name="type-id" use="required" type="xs:integer"/>
      <xs:attribute name="username" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ever-approved" type="xs:boolean"/>
  <xs:element name="reporting-date-1" type="xs:NMTOKEN"/>
  <xs:element name="reporting-date-2" type="xs:NMTOKEN"/>
  <xs:element name="is-current-staff" type="xs:boolean"/>
  <xs:element name="photo">
    <xs:complexType>
      <xs:attribute name="href" use="required" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="is-academic" type="xs:boolean"/>
  <xs:element name="first-name" type="xs:NCName"/>
  <xs:element name="known-as" type="xs:NCName"/>
  <xs:element name="primary-group-descriptor" type="xs:string"/>
  <xs:element name="arrive-date" type="xs:NMTOKEN"/>
  <xs:element name="department" type="xs:string"/>
  <xs:element name="organisation-defined-data">
    <xs:complexType mixed="true">
      <xs:attribute name="field-name" use="required"/>
      <xs:attribute name="field-number" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="fields">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:field"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="journal">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:records"/>
      </xs:sequence>
      <xs:attribute name="href" use="required" type="xs:anyURI"/>
      <xs:attribute name="issn" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="relationships">
    <xs:complexType>
      <xs:attribute name="href" use="required" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="publication">
    <xs:sequence>
      <xs:element name="publication" form="unqualified">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns1:ns1.object">
              <xs:attribute name="is-favourite" type="xs:boolean"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="funded-by">
    <xs:sequence>
      <xs:element name="funded-by" form="unqualified">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="grant" form="unqualified" type="ns1:ns1.object"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="activity">
    <xs:sequence>
	    <xs:element name="activity" form="unqualified">
	      <xs:complexType>
	        <xs:complexContent>
	          <xs:extension base="ns1:ns1.object">
	          </xs:extension>
	        </xs:complexContent>
	      </xs:complexType>
	    </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="initials" type="xs:string"/>
  <xs:element name="last-name" type="xs:string"/>
  <xs:element name="email-address">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ns1:address"/>
        <xs:element ref="ns1:type"/>
      </xs:choice>
      <xs:attribute name="privacy" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="position" type="xs:string"/>
  <xs:element name="records">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:record"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="record">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:citation-count"/>
        <xs:element minOccurs="0" ref="ns1:title"/>
        <xs:element minOccurs="0" ref="ns1:verification-status"/>
        <xs:element minOccurs="0" ref="ns1:native"/>
      </xs:sequence>
      <xs:attribute name="format" type="xs:NCName"/>
      <xs:attribute name="id-at-source" type="xs:anyURI"/>
      <xs:attribute name="is-preferred-record" type="xs:boolean"/>
      <xs:attribute name="source-display-name"/>
      <xs:attribute name="source-id" type="xs:integer"/>
      <xs:attribute name="source-name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="citation-count" type="xs:integer"/>
  <xs:element name="verification-status" type="xs:NCName"/>
  <xs:element name="native">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:field"/>
        <xs:element minOccurs="0" ref="ns1:files"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="files">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:file"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="file">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:file-url"/>
        <xs:element ref="ns1:extension"/>
      </xs:sequence>
      <xs:attribute name="proprietary-id" use="required" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="file-url" type="xs:anyURI"/>
  <xs:element name="extension" type="xs:NCName"/>
  <xs:element name="field">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0">
          <xs:element ref="ns1:addresses"/>
          <xs:element ref="ns1:academic-appointments"/>
          <xs:element ref="ns1:degrees"/>
          <xs:element ref="ns1:email-addresses"/>
          <xs:element ref="ns1:keywords"/>
          <xs:element ref="ns1:money"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="ns1:text"/>
        <xs:choice minOccurs="0">
          <xs:element ref="ns1:identifiers"/>
          <xs:element ref="ns1:links"/>
          <xs:element ref="ns1:person"/>
          <xs:element ref="ns1:boolean"/>
          <xs:element ref="ns1:date"/>
          <xs:element ref="ns1:integer"/>
          <xs:element ref="ns1:items"/>
          <xs:element ref="ns1:non-academic-employments"/>
          <xs:element ref="ns1:pagination"/>
          <xs:element ref="ns1:people"/>
          <xs:element ref="ns1:phone-numbers"/>
          <xs:element ref="ns1:web-addresses"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="display-name" use="required"/>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="academic-appointments">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:academic-appointment"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="academic-appointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:institution"/>
        <xs:element ref="ns1:position"/>
        <xs:element ref="ns1:start-date"/>
        <xs:element minOccurs="0" ref="ns1:end-date"/>
      </xs:sequence>
      <xs:attribute name="privacy" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="degrees">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:degree"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="degree">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:name"/>
        <xs:element ref="ns1:institution"/>
        <xs:element ref="ns1:start-date"/>
        <xs:element ref="ns1:end-date"/>
      </xs:sequence>
      <xs:attribute name="privacy" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="email-addresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:email-address"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="keywords">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:keyword"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="keyword">
    <xs:complexType mixed="true">
      <xs:attribute name="scheme" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="money">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="iso-currency" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="text" type="xs:string"/>
  <xs:element name="boolean" type="xs:boolean"/>
  <xs:element name="date">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:day"/>
        <xs:element minOccurs="0" ref="ns1:month"/>
        <xs:element ref="ns1:year"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="integer" type="xs:integer"/>
  <xs:element name="items">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:item"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="item" type="xs:string"/>
  <xs:element name="non-academic-employments">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:non-academic-employment"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="non-academic-employment">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:employer"/>
        <xs:element ref="ns1:position"/>
        <xs:element ref="ns1:start-date"/>
        <xs:element ref="ns1:end-date"/>
      </xs:sequence>
      <xs:attribute name="privacy" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="employer">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:line"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pagination">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:begin-page"/>
        <xs:choice minOccurs="0">
          <xs:element ref="ns1:end-page"/>
          <xs:element ref="ns1:page-count"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="begin-page" type="xs:string"/>
  <xs:element name="end-page" type="xs:NMTOKEN"/>
  <xs:element name="page-count" type="xs:integer"/>
  <xs:element name="people">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:person"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="phone-numbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:phone-number"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="phone-number">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:number"/>
        <xs:element ref="ns1:type"/>
        <xs:element name="extension" type="xs:NCName"/>
      </xs:sequence>
      <xs:attribute name="privacy" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="number" type="xs:string"/>
  <xs:element name="type" type="xs:NCName"/>
  <xs:element name="web-addresses">
  	<xs:complexType>
  		<xs:sequence>
  			<xs:element maxOccurs="unbounded" ref="ns1:web-address"/>
  		</xs:sequence>
  	</xs:complexType>
  </xs:element>
  <xs:element name="web-address">
  	<xs:complexType>
  		<xs:sequence>
  			<xs:element name="url" type="xs:string"/> 
        	<xs:element ref="ns1:type"/>
        	<xs:element name="label" type="xs:string"/>
  		</xs:sequence>
  		<xs:attribute name="privacy" use="required" type="xs:NCName"/>
  	</xs:complexType>
  </xs:element>
  <xs:element name="address">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:line"/>
      </xs:sequence>
      <xs:attribute name="iso-country-code" type="xs:NCName"/>
      <xs:attribute name="privacy" type="xs:NCName"/>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="addresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:address"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="institution">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:line"/>
      </xs:sequence>
      <xs:attribute name="iso-country-code" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="start-date">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:day"/>
        <xs:element ref="ns1:month"/>
        <xs:element ref="ns1:year"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="end-date">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:day"/>
        <xs:element ref="ns1:month"/>
        <xs:element ref="ns1:year"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="person">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:links"/>
        <xs:element ref="ns1:last-name"/>
        <xs:element ref="ns1:initials"/>
        <xs:choice minOccurs="0">
          <xs:element ref="ns1:addresses"/>
          <xs:element ref="ns1:identifiers"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="identifiers">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:identifier"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="identifier">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:NMTOKEN">
          <xs:attribute name="scheme" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="day" type="xs:integer"/>
  <xs:element name="month" type="xs:integer"/>
  <xs:element name="year" type="xs:integer"/>
  <xs:element name="line">
    <xs:complexType mixed="true">
      <xs:attribute name="type" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="links">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:link"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="link">
    <xs:complexType>
      <xs:attribute name="href" use="required" type="xs:anyURI"/>
      <xs:attribute name="id" type="xs:integer"/>
      <xs:attribute name="type" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
